* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

header {
    position: absolute !important;
    top: 0px;
    width: 100%;
    color: antiquewhite;
}

nav {
    border-bottom: solid 1px #fff;
    display: block;
}

.navbar-brand {
    color: antiquewhite;
    font-size: 48px;
    font-family: 'GODOFWAR'; 
}

.topnav .title {
  float: left;
}

.topnav {
    background-color: black;
    overflow: hidden;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:first-child:hover{
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

body .home{
    background-image: url(images/Cinema-Cultura.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    z-index: -1;
    margin-bottom: 40px;
}

.home h1{
    z-index: 1;
    color: red;
    text-align: center;
}

.film {
    float: left;
    display: inline;
    width: 25%;
    padding: 15px;
}


.film::after {
    display: table;
    clear: both;
}

.film img {
    width: 500px;
    margin: 0px 10px 20px 10px;
    
}

.film li {
    list-style-type: none;
    color: antiquewhite;
    margin-bottom: 15px;
    margin-left: 190px;
    font-size: 20px;
    
}

.tables h2 {
    margin-left: 10px;
}

.tables{ 
    color: antiquewhite;
}

table, th, td{
    border: 1px solid;
    width: 30%;
    padding: 15px;
    text-align: left;
}

.about {
    color: antiquewhite;
    text-align: center;
    font-size: 20px;
    margin: 50px;
}